/* Mobile devices (320px to 480px) */
@media only screen and (max-width: 480px) {
    /* Styles for mobile devices */
    }
    
    /* Tablets (481px to 768px) */
    @media only screen and (min-width: 481px) and (max-width: 768px) {
    /* Styles for tablets */
    }
    
    /* Laptops and small desktops (769px to 1024px) */
    @media only screen and (min-width: 769px) and (max-width: 1024px) {
    /* Styles for laptops and small desktops */
    }
    
    /* Desktops (1025px to 1200px) */
    @media only screen and (min-width: 1025px) and (max-width: 1200px) {
    /* Styles for desktops */
    }
    
    /* Large desktops and TVs (1201px and above) */
    @media only screen and (min-width: 1201px) {
    /* Styles for large desktops and TVs */
    }
    


#para {
    text-align: center;
}

ul {
    text-align: center;
    list-style: none;
}

p {
    text-align: center;
}

img {
    display: flex;
    justify-content: stretch;
}